[submodule "builds/terrateam"]
	path = builds/terrateam
	url = https://github.com/terrateamio/terrateam.git
[submodule "builds/featbit"]
	path = builds/featbit
	url = https://github.com/featbit/featbit
